body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.media-vote {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.media-vote .btn-score {
  border: none;
  background-color: transparent;
  font-size: 1.3em;
  padding: 3px 12px;
  line-height: 0;
}

.media-vote .vote-score {
  text-align: center;
  font-size: 1.2em;
}

.voting {
  float: left;
}

.postButtons {
  float: right;
}

.back {
  float: right;
}

div.vote-score {
  min-width: 2em;
}

div.postcard {
  padding: 5px 0 5px 0;
}

div.singlepost {
  margin: 5px;
}