body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.voting {
  float: left;
}

.postButtons {
  float: right;
}

.back {
  float: right;
}

div.vote-score {
  min-width: 2em;
}

div.postcard {
  padding: 5px 0 5px 0;
}

div.singlepost {
  margin: 5px;
}

button.sorting:hover {
  background-color: #17a2b8;
  color: white;
}

.sortButtons {
  float: left;
}

.postButtons {
  float: right;
}

.commentButtons {
  align-items: center;
}

.commentSection {
  margin: 15px 0 10px 0;
}